.brand-card-and-payment {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* brand-CARD */

.brand-card {
    background-color: #F3F4F9;
    display: flex;
    padding: 5px 40px 5px 40px;
}

/* brand-CARD-PHOTO */

.brand-card-photo {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-card-photo img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

/* brand-CARD-INFO */

.brand-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: center;
}

/* brand-CARD-NAME */

.brand-card-name {
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

/* brand-CARD-DELIVERY */

.brand-card-delivery-adress {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.630);
}

/* PAYMENT */

.payment button {
    background-color: #E6E9EF;
    padding: 30px;
    border: none;
    cursor: pointer;
}

.payment i {
    color: black;
    font-size: 24px;
}

/* PROFILE-INFO */

.profile-info {
    padding: 0 200px;
    display: flex;
    justify-content: space-around;
}

/* BRAND-MENU */

.brand-menu {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
}

.brand-menu a {
    width: 450px;
    height: 100px;
    background: rgba(191, 228, 255, 0.25);
    box-shadow: 0px 4px 5px -1px rgba(88, 129, 207, 0.43);
    margin: 30px;
    box-sizing: border-box;
    padding: 10px;
    transition: .3s;
}

.brand-menu a:hover {
    background-color: #E3F3FF;
}

.title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
}

.descr {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.43);
}

footer {
    margin-top: 80px;
}