input {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 40px;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.adress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#adress {
    background-color: #D8D8EF;
    border: none;
    outline: none;
    width: 80%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;
    color: rgba(14, 16, 81, 0.39);
    padding: 0 10px;
}

iframe {
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

.payment-method-wrapper {
    box-sizing: border-box;
}

.payment-method {
    background-color: rgba(216, 216, 239, 0.22);;
    width: 500px;
    height: 200px;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}

.payment-method__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin: 30px 0;
}

#card-number {
    width: 100%;
    padding: 0 5px;
    border: none;
    background: #D8D8EF;
    outline: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;
    color: rgba(14, 16, 81, 0.39);
}

.card-details input[type="text"] {
    margin: 60px 20px;
    background: #D8D8EF;
    border: none;
    outline: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 52px;
    color: rgba(14, 16, 81, 0.39);
    text-align: center;
}

#cvc-code {
    width: 15%;
}

#expiration-date {
    width: 25%;
}

#bonus {
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: #DEE1E2;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;
    color: rgba(14, 16, 81, 0.39);
    margin-top: 30px;
}

/* DELIVERY */

.delivery {
    width: 200px;
    height: 30px;
    background: #D8D8EF;
    margin-top: 70px;
}

.delivery-button[type="button"] {
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    color: #000;
    background: #D8D8EF;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 225px;
    text-align: left;
}

.delivery-button[type="button"]:focus-within .delivery-content {
    display: flex;
}

.delivery-button i {
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 15px;
    transition: .3s;
}

.delivery-button[type="button"]:focus-within  i {
    transform: rotate(0);
}

.delivery-content {
    position: absolute;
    display: none;
    margin-top: 5.5px;
    margin-left: -21px;
    width: 100%;
}

.delivery-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delivery-list li a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    z-index: 2;
}

.delivery-list li {
    list-style: none;
    padding: 5px 10px;
    border: 0.5px solid white;
    background: #D8D8EF;
    width: 205px;
    position: relative;
    overflow: hidden;
}

.delivery-list li:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: -101%;
    margin-top: -5.5px;
    background: #C2C3DC;
    z-index: -1;
    transition: .3s;
}

.delivery-list li:hover::before {
    left: 0;
    z-index: 1;
}

/* BUY-BUTTON */

.buy-button-content {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 50px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    margin: 10px 0 40px 40%;
}

.buy-button-price p {
    font-size: 38px;
}

.buy-button button {
    position: relative;
    color: #000;
    padding: 20px 80px;
    border: 1px solid black;
    background: transparent;
    font-size: 34px;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.buy-button button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0px;
    left: -100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
}

.buy-button button:hover::before {
    left: 0;
    opacity: 100;
    border-radius: 0;
    z-index: -1;
}

.buy-button a button:hover {
    color: white;
}