/* FILTERS */

body button[type="button"] {
    text-transform: none;
    padding: 5px 20px;
    color: #fff;
    background-color: #BD8973;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 87%;
    outline: none;
}

body button[type="button"]:hover, body button[type="button"]:focus-within {
    background-color: #907a6b;
}

body button[type="button"]:focus-within .filters-content {
    display: block;
}


.filters-content {
    display: none;
    background-color: #fff;
    position: absolute;
    margin-top: .3%;
    margin-left: -16.2%;
    height: 330px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 2;
}

.filters-content p:nth-of-type(2) {
    margin-right: 25px;
}

.filters-content p:nth-of-type(3) {
    margin-right: 25px;
}

.filters-content ul:last-child{
    position: absolute;
    margin-top: -27px;
    margin-left: 80px;
}

.filters-list-title {
    display: inline;
    text-align: left;
    color: #000;
    padding: 0 25px 0 0;
    border-bottom: 2px solid #000;
    margin-left: -250px;
    text-transform: none;
}

.filters-list {
    display: flex;
    flex-wrap: wrap;    
    width: 350px;
    margin-top: 20px;
}

.filters-list li a {
    color: #000;
    font-size: 18px;
}

.filters-list li {
    padding: 5px 10px;
}

.sale__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

/* SALE__ITEM */

.sale__item {
    position: relative;
    margin: 40px;
}

/* SALE-NAME */

.sale-name {
    text-transform: uppercase;
    margin-left: 20px;font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 47px;
}

/* SALE__ITEM-PHOTO */

.sale__item-photo img {
    width: 240px;
    height: 350px;
}

/* SALE-FAVORITE-BUTTON */

.sale__favorite-icon button {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 26px;
    margin-left: 210px;
    margin-top: 5px;
    cursor: pointer;
}

.sale__favorite-icon button:focus-within {
    color: yellow;
}

/* SALE__ITEM-PRICE */

.sale__item-price {
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
    width: 100%;
    background: rgba(172, 124, 78, 0.5);
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    margin-top: -45px;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 31px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.sale__item-descr-name {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.sale__item-descr-brand {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #575353;
}