* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    position: relative;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* overflow: hidden; */
}

.main-collection-slider-line {
    position: relative;
    display: flex;
    transition: .3s;
    width: 1200px;
    left: 0;
}

.main-collection-slider-line img {
    height: 500px;
    width: 400px;
}
